<!DOCTYPE html>
<html lang="en">

  <head>
<style>
/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #fff;
    background-color: #2C3E50;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #128f76;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #128f76;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

</style>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Coding Forum</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Plugin CSS -->
    <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="css/freelancer.min.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top"><img src="img2/logo.jpg" height=75 width=100>&nbsp;&nbsp;Coding Forum</a>
        <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#portfolio">Events</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about">About</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>	

    <!-- Header  image -->
    <header class="masthead bg-primary text-white text-center">
<h2><u>Arduino Workshop 2017</u> </h2><br>
<a target="_blank" href="iot_img/2.png">
<img src="iot_img/2.png" alt="Forest">
</a>

	
</h4>
 </header>

   <!-- header img end-->
   <!--============= Tab View =============-->
   <div class="span12" style="margin-left:0;">
	 <!--<div id="supertab1">
        <ul class="resp-tabs-list hor_1">
            <li><i class="fa fa-info-circle"></i> Overview</li>
            <li><i class="fa fa-book"></i> Course</li>
            <li><i class="fa fa-briefcase"></i> Project</li>
            <li><i class="fa fa-cog"></i> Kit</li>
            <li><i class="fa fa-picture-o"></i> Photo Gallery</li>
            <li><i class="fa fa-video-camera"></i> Video Gallery</li>
        </ul>
		<div class="resp-tabs-container hor_1">-->
<!-- Tab 1 -->
<br> <div class="description">
					<div class="row-fluid"><div class="span6"><h3 class="text-left">Project Description</h3></div></div>                        
				</div><br>
<div class="tab">
<button class="fa fa-info-circle" id="" onclick="openCity(event,'Overview')">Overview</button>
<button class="fa fa-book" onclick="openCity(event,'Course')">Course</button>
<!--<button class="fa fa-briefcase" onclick="openCity(event,'Course')">Project</button>-->

</div>
<div id="Overview" class="tabcontent">
<p style="font-size:14px;"><b><u>Arduino workshop</u></b> will focus on getting you up and running with
 <b>Arduino</b> quickly, so that you will understand the basic procedures for working with Arduino and can
 explore further on your own.
An Arduino is a small computer that you can program to control things like lights or motors along with listening to components like motion detection sensors.
 It can give your project interactivity without needing an expensive and large circuit. Instead, you use a computer to program the Arduino, upload your code to
 the Arduino, and hook up your circuit.
</p>
<p style="font-size:14px; margin-top:7px;">The duration of this workshop will be two consecutive days with eight hours session each day, in a total of sixteen 
hours properly divided into theory and hand on practical sessions. At the end of this workshop a competition will be organized among the participating students 
where each participating student will get Certificate of Participation and the Winners will get Certificate of Merit.</p><br />

<h5><i class="fa fa-arrow-right"></i> Workshop Level : Intermediate Level</h5>
<h5><i class="fa fa-arrow-right"></i> Best Suited For: All F.E./S.E/T.E/B.E Students</h5>
<h5><i class="fa fa-arrow-right"></i>Workshop Certification: VIIT</h5>
<h5><i class="fa fa-arrow-right"></i> Workshop Training Kit : <strong style="color:#0071C5;"> Arduino Kit </strong></h5>
<h5><i class="fa fa-arrow-right"></i> Kits Source : Available. 
    
</div>
<div id="Course" class="tabcontent">
<h4 style="color:#128f76;">Day 1 (Session 1)</h4>
    <h5 style="color:#128f76;"><i class="fa fa-cogs"> </i>	Introduction to Embedded System</h5>
    <ul class="list-3" style="margin-left:20px;">     
        <li style="width:100%"style="color:#128f76;">Introduction to Embedded System</li>
        <li style="width:100%"style="color:#128f76;">Applications & Scope of Embedded System in various industries</li>
    </ul>
    <h5 style="color:#128f76;"><i class="fa fa-cogs"> </i>	Introduction to Open Source platform</h5>
    <ul class="list-3" style="margin-left:20px;">     
        <li style="width:100%"style="color:#128f76;">An Overview of Open Hardware</li>
        <li style="width:100%"style="color:#128f76;">Arduino Board Description</li>
    </ul>
    <h5 style="color:#128f76;"><i class="fa fa-cogs"> </i> Introduction to Microcontroller</h5>
    
    <h5><i class="fa fa-cogs"></i> Introduction to Programming Language</h5>
    <ul class="list-3" style="margin-left:20px;">
        <li style="width:100%">Programming Languages- Assembly Vs Embedded 'C'</li>
        <li style="width:100%">Microcontroller Programming using Embedded 'C'</li>
    </ul>
    <h5 style="color:#128f76;"> <i class="fa fa-cogs"></i> Introduction to software tool chain</h5>
    <ul class="list-3" style="margin-left:20px;">
        <li style="width:100%">Software Installation</li>
        <li style="width:100%">Getting started with the Arduino IDE to start writing your first program</li>
        <li style="width:100%">Writing your First 'Embedded C' Program</li>
    </ul>
    <h5 style="color:#128f76;"> <i class="fa fa-cogs"></i> Interfacing of I/O devices</h5>
    <h6 style="margin-left:5px; font-size:13px"><i class="fa fa-caret-right"> </i>&nbsp; LEDs</h6>
    <ul class="list-3" style="margin-left:20px;">
        <li style="width:100%">Types of LEDs.</li>
        <li style="width:100%">How LEDs works?</li>
        <li style="width:100%">How LEDs will glow in sequence?</li>
  </ul>
    </ul>
</div>

<script>
function openCity(evt, cityName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
}
</script>
<!--============= Tab View End =============-->        
</div>            

    <!-- Contact Section -->
	<div class="masthead bg-primary text-white text-left">
    <section id="contact">
	<br><h1><u><center>Workshop Video</center><u><h1><br>
	
	 <video width="100%" height="240" controls>
	<source src="movie.mp4" type="video/mp4">
	<source src="movie.ogg" type="video/ogg">
Your browser does not support the video tag.
</video> 
   </section>
</div>
    <!-- Footer -->
    <footer class="footer text-center">
      <div class="container">
        <div class="row">
          <div class="col-md-4 mb-5 mb-lg-0">
            <h4 class="text-uppercase mb-4">Location</h4>
            <p class="lead mb-0">VIIT 
              <br>address</p>
          </div>
          <div class="col-md-4 mb-5 mb-lg-0">
            <h4 class="text-uppercase mb-4">Around the Web</h4>
            <ul class="list-inline mb-0">
              <li class="list-inline-item">
                <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
                  <i class="fa fa-fw fa-facebook"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
                  <i class="fa fa-fw fa-google-plus"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
                  <i class="fa fa-fw fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
                  <i class="fa fa-fw fa-linkedin"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
                  <i class="fa fa-fw fa-dribbble"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-4">
            <h4 class="text-uppercase mb-4">About Coding Forum</h4>
            <p class="lead mb-0">Coding Forum is a free to use, for college students this website created by
              <a href="http://codingforum.in">Coding Forum</a>.</p>
          </div>
        </div>
      </div>
    </footer>

    <div class="copyright py-4 text-center text-white">
      <div class="container">
        <small>Copyright &copy; viit coding forum 2018</small>
      </div>
    </div>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-to-top d-lg-none position-fixed ">
      <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
        <i class="fa fa-chevron-up"></i>
      </a>
    </div>

   

  </body>

</html>
