<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Coding Forum</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Plugin CSS -->
    <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="css/freelancer.min.css" rel="stylesheet">
    <script type="text/javascript" src="js/ajax_page2.js"></script>
  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top"><img src="img2/logo.jpg" height=75 width=100 style="text-center rounded-circle">&nbsp;&nbsp;Coding Forum</a>
        <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#portfolio">Events</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about">About</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header -->

    <header class="masthead bg-primary text-white text-center">
     
   

   
    <!-- Contact Section -->
	
    <section id="contact">
   <div class="row" >
    <div class="col-sm-7">
    <div class="row-sm-7" style="border:8px solid rgba(170,170,256,1);border-radius:15px;background-color:rgba( 28, 40, 51 ,1);">
      <h3 class="inline" style="text-align:left;"><strong><ul>Machine Learning</ul></strong></h3>
      <h4 style="text-align:right;color:white;margin-right:1%;"><strong><u>Date : </u></strong>20 Sept ,2018  <strong><u>Location:</u></strong>B001<br><br>
      	<strong><u>Speaker :</u></strong>Mr.Pranay Jain <strong><u>Time</u></strong>3.20 p.m.
      </h4>
      <hr>
      <h2 style="text-align:left;color:white;"><strong><u>Description :</u></strong>
	  Machine learning is a field of computer science that gives computers the ability
	  to learn without being explicitly programmed. The name Machine learning was coined in 1959 by Arthur Samuel</h2>
    
    </div><br>
    <div class="row-sm-7" style="border:8px solid rgba(170,170,256,1);border-radius:15px;background-color:rgba( 28, 40, 51 ,1);">
    
      <h3 class="inline" style="text-align:left;"><strong><ul>Artificial Intelligence</ul></strong></h3>
      <h4 style="text-align:right;color:white;margin-right:1%;"><strong><u>Date : </u></strong>08 Sept ,2018  <strong><u>Location:</u></strong>B001 <br><br>
      	<strong><u>Speaker :</u></strong>Mr.Pranay Jain <strong><u>Time</u></strong>3.20 p.m.
      
      
      </h4>
      <hr>
      <h4 style="text-align:left;color:white;"><strong><u>Description :</u></strong>
	 
    Artificial intelligence is intelligence demonstrated by machines, 
	in contrast to the natural intelligence displayed by humans and other animals.    
     </h4></div>
    
        
    </div>
	
    <div class="col-sm-5 ">
      
      <div class="jumbotron" style="height:80%;margin-left:5%;background-color:rgba( 28, 40, 51 ,1);border:8px solid rgb(170,170,256,1);border-radius:15px;">
       <h3 style="text-align:center;color:white;"><strong>Technologies</strong></h3>  <hr>    
     	<ul style="text-align:left;color:white;font-size:18px;">
     		<li>Machine Laerning</li><br>
     		<li>Artificial Intelligence</li><br>
     		<li>Big Data</li><br>
     		<li>Deep Learning</li><br>
     		<li>Augmented Reality</li><br>
     	</ul>
      </div>
      <div>
  </div>
</div>

    </section>
 </header>
    <!-- Footer -->
    <footer class="footer text-center">
      <div class="container">
        <div class="row">
          <div class="col-md-4 mb-5 mb-lg-0">
            <h4 class="text-uppercase mb-4">Location</h4>
            <p class="lead mb-0">VIIT 
              <br>address</p>
          </div>
          <div class="col-md-4 mb-5 mb-lg-0">
            <h4 class="text-uppercase mb-4">Around the Web</h4>
            <ul class="list-inline mb-0">
              <li class="list-inline-item">
                <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
                  <i class="fa fa-fw fa-facebook"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
                  <i class="fa fa-fw fa-google-plus"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
                  <i class="fa fa-fw fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
                  <i class="fa fa-fw fa-linkedin"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
                  <i class="fa fa-fw fa-dribbble"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-4">
            <h4 class="text-uppercase mb-4">About Coding Forum</h4>
            <p class="lead mb-0">Coding Forum is a free to use, for college students this website created by
              <a href="http://codingforum.in">Coding Forum</a>.</p>
          </div>
        </div>
      </div>
    </footer>

    <div class="copyright py-4 text-center text-white">
      <div class="container">
        <small>Copyright &copy; viit coding forum 2018</small>
      </div>
    </div>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-to-top d-lg-none position-fixed ">
      <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
        <i class="fa fa-chevron-up"></i>
      </a>
    </div>

   

  </body>

</html>
